{% load static %}
{% load socialaccount %}

<header>
    <!-- {%if request.user.is_authenticated%}

    <div id="top-banner-notify">
     {%comment%} {%if not request.session.user_verified%}
       <p class="text-center" style="color:white;">Please verify your email address. <a href="{%url 'verification_link_generator'%}" style="text-decoration: underline; color:ghostwhite">Resend verification link</a></p>

       {%endcomment%}
       {%if not request.session.first_buy%}
         <p class="text-center" style="color:white;">Use <b>LAUNCH10</b> at checkout to redeem a 10% discount on your first purchase.</p>
        {%endif%}

      <p class="text-center" style="color:white;">We'll give 50 credits to charity for every friend you refer! <a href="{%url 'invite'%}" style="text-decoration: underline; color:ghostwhite">Learn more here</a></p>

  </div>
    {%endif%} -->


    <!-- Header Start -->

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            window.addEventListener('scroll', function () {
                if (window.scrollY > 50) {
                    document.getElementById('navbar_top').classList.add('fixed-top');
                    document.getElementById('dropdown-container-desktop').classList.remove('dropdown-container-desktop-padding');
                    // add padding top to show content behind navbar
                    navbar_height = document.querySelector('.navbar').offsetHeight;
                    document.body.style.paddingTop = '-200px';
                } else {
                    document.getElementById('navbar_top').classList.remove('fixed-top');
                    document.getElementById('dropdown-container-desktop').classList.add('dropdown-container-desktop-padding');
                    // remove padding top from body
                    document.body.style.paddingTop = '0';
                }
            });
        });

    </script>




    <div class="header-area">

        <div class="main-header ">
            <!-- COUPON DISPLAY -->

            <div class="coupon">

                <h6>The Art Marketplace For Art Lovers, By Art Lovers</h6>
                <h6 id="apply_coupon_h6">10% off all art | Code: Artlovers2022 | <button style="border: none; outline: none; background-color: transparent; color: white;"
                        id="apply_coupon" value="Artlovers2022">Apply Coupon</button></h6>

            </div>

            <!-- Main navigation bar -->
            <div class="header-bottom header-sticky navbarr" id="navbar_top">
                <div class="container-fluid">
                    <div class="dropdown-container-desktop row align-items-center justify-content-center d-none pt-3 pb-2 dropdown-container-desktop-padding"
                        id="dropdown-container-desktop">
                        <div class="col-md-12 col-lg-10">
                            <div class="row">
                                <div class="col-2 column">
                                    <p class="categories-menu">
                                        ART MEDIUM
                                    </p>
                                    {% for key, value in category.items %}
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='category' value=key %}">
                                            {{value | upper}}
                                        </a>
                                    </p>
                                    {%endfor%}
                                    <hr>
                                    <p class="category-menu">
                                        <b><a href="{%url 'show_search' type_='art' value='all' %}"> ALL ART</a></b>
                                    </p>
                                    <p class="category-menu">
                                        <b><a href="{%url 'show_search' type_='curator' value='none' %}"> CURATOR
                                                PICKS</a></b>
                                    </p>
                                </div>
                                <div class="col-2 offset-1 column">
                                    <p class="categories-menu">
                                        SHOP BY STYLE
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='abstract' %}">
                                            ABSTRACT
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='contemporary' %}">
                                            CONTEMPORARY
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='figurative' %}">
                                            FIGURATIVE
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='minimalist' %}">
                                            MINIMALIST
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='portraiture' %}">
                                            PORTRAITURE
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='landscape' %}">
                                            LANDSCAPE
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='fashion' %}">
                                            FASHION
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='popart' %}">
                                            POP ART
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='style' value='other' %}">
                                            OTHER
                                        </a>
                                    </p>
                                </div>
                                <div class="col-2 offset-1 column">
                                    <p class="categories-menu">
                                        EXPLORE ART BY PRICE
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='price' value='price_max-100' %}">
                                            $100 AND UNDER
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='price' value='price_max-500' %}">
                                            $500 AND UNDER
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='price' value='price_max-1000' %}">
                                            $1000 AND UNDER
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='price' value='price_min-1000' %}">
                                            $1000 AND OVER
                                        </a>
                                    </p>
                                </div>
                                <div class="col-2 offset-1 column">
                                    <p class="categories-menu">
                                        SHIPS TO
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipcan' %}">
                                            CANADA
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipus' %}">
                                            US
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipeurope' %}">
                                            EUROPE
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipuk' %}">
                                            UK
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipasia' %}">
                                            ASIA
                                        </a>
                                    </p>
                                    <p class="category-menu">
                                        <a href="{%url 'show_search' type_='country' value='shipaunz' %}">
                                            NEW ZEALAND/AUSTRALIA
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu d-lg-none">
                        <nav class="nav-main pt-5">
                            {%if request.user.is_authenticated %}
                            <div class="welcome-user">
                                Welcome back, {{request.user.first_name}}!
                            </div>
                            <div class="d-inline-block close"><a class="close">×</a></div>
                            {% else %}
                            <div class="d-inline-block close text-dark"><a class="close">×</a></div>
                            {%endif%}

                            <div class="nav-container">

                                <ul>
                                    {%if request.user.is_authenticated %}
                                    <li>
                                        <a class="second-level d-flex align-items-center pt-4" id="account-mobile">
                                            <div class="d-flex">
                                                MY ACCOUNT
                                                {% if request.session.profile_img %}
                                                <div style="width:25px; height:25px; border-radius: 50%;">
                                                    <img class="avatar"
                                                        style="width:100%; height:100%; border-radius: 50%; object-fit:cover;"
                                                        src="{{request.session.profile_img}}" />
                                                </div>
                                                {% else %}
                                                <div style="width:25px; height:25px; border-radius: 50%;">
                                                    <img class="avatar"
                                                        style="width:100%; height:100%; border-radius: 50%; object-fit:cover;"
                                                        src="{% static 'img/profile-icon.png'%}" />
                                                </div>
                                                {% endif %}


                                            </div>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <ul>
                                            <li><a href="#" class="back pt-4"><i class="fa fa-angle-left"
                                                        aria-hidden="true"></i>Main Menu</a></li>
                                            <li>
                                                <a href="{% url 'public_profile' request.user %}">
                                                    MY PROFILE
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'my_art' %}">
                                                    MY ARTWORK
                                                </a>
                                            </li>
                                            <li id="messages-link" class="d-flex align-items-center">
                                                <a id="left-side-menu" href="{% url 'show_contacts' %}">
                                                    MESSAGES
                                                </a>

                                            </li>
                                            <li>
                                                <a href="{% url 'orders' %}">
                                                    ORDERS
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'wish_list' %}">
                                                    WISHLIST
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'profile' %}">
                                                    SETTINGS
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    {%endif%}


                                    <li>
                                        <a href="{% url 'art_upload' %}">
                                            SELL
                                        </a>
                                    </li>

                                    <li>
                                        <a class="second-level d-flex align-items-center">
                                            SHOP
                                            <i class="fa fa-angle-right" aria-hidden="true">
                                            </i>
                                        </a>
                                        <ul>
                                            <li><a href="#" class="back pt-4"><i class="fa fa-angle-left"
                                                        aria-hidden="true"></i>Main Menu</a></li>
                                            <li>
                                                <a href="{%url 'show_search' type_='art' value='all' %}">ALL ART</a>
                                            </li>
                                            <li>
                                                <a href="{%url 'show_search' type_='curator' value='none' %}">CURATOR
                                                    PICKS</a>
                                            </li>
                                            <li class="child-level">
                                                <a class="child-level d-flex align-items-center">
                                                    BY MEDIUM
                                                    <i class="fa fa-angle-right" aria-hidden="true">
                                                    </i>
                                                </a>
                                                <div class="dropdown-container">
                                                    {% for key, value in category.items %}


                                                    <a href="{%url 'show_search' type_='category' value=key %}">
                                                        {{value | upper}}
                                                    </a>
                                                    {%endfor%}
                                                </div>
                                            </li>
                                            <li class="child-level">
                                                <a class="child-level d-flex align-items-center">
                                                    BY STYLE
                                                    <i class="fa fa-angle-right" aria-hidden="true">
                                                    </i>
                                                </a>
                                                <div class="dropdown-container">
                                                    <a href="{%url 'show_search' type_='style' value='abstract' %}">
                                                        ABSTRACT
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='contemporary' %}">
                                                        CONTEMPORARY
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='figurative' %}">
                                                        FIGURATIVE
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='minimalist' %}">
                                                        MINIMALIST
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='portraiture' %}">
                                                        PORTRAITURE
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='landscape' %}">
                                                        LANDSCAPE
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='fashion' %}">
                                                        FASHION
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='popart' %}">
                                                        POP ART
                                                    </a>
                                                    <a href="{%url 'show_search' type_='style' value='other' %}">
                                                        OTHER
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="child-level">
                                                <a class="child-level d-flex align-items-center">
                                                    BY PRICE
                                                    <i class="fa fa-angle-right" aria-hidden="true">
                                                    </i>
                                                </a>
                                                <div class="dropdown-container">
                                                    <a
                                                        href="{%url 'show_search' type_='price' value='price_max-100' %}">
                                                        $100 AND UNDER
                                                    </a>

                                                    <a
                                                        href="{%url 'show_search' type_='price' value='price_max-500' %}">
                                                        $500 AND UNDER
                                                    </a>

                                                    <a
                                                        href="{%url 'show_search' type_='price' value='price_max-1000' %}">
                                                        $1000 AND UNDER
                                                    </a>

                                                    <a
                                                        href="{%url 'show_search' type_='price' value='price_min-1000' %}">
                                                        $1000 AND OVER
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="child-level">
                                                <a class="child-level d-flex align-items-center">
                                                    SHIPS TO
                                                    <i class="fa fa-angle-right" aria-hidden="true">
                                                    </i>
                                                </a>
                                                <div class="dropdown-container">
                                                    <a href="{%url 'show_search' type_='country' value='shipcan' %}">
                                                        CANADA
                                                    </a>
                                                    <a href="{%url 'show_search' type_='country' value='shipus' %}">
                                                        US
                                                    </a>
                                                    <a href="{%url 'show_search' type_='country' value='shipeurope' %}">
                                                        EUROPE
                                                    </a>
                                                    <a href="{%url 'show_search' type_='country' value='shipuk' %}">
                                                        UK
                                                    </a>
                                                    <a href="{%url 'show_search' type_='country' value='shipasia' %}">
                                                        ASIA
                                                    </a>
                                                    <a href="{%url 'show_search' type_='country' value='shipaunz' %}">
                                                        NEW ZEALAND/AUSTRALIA
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'all_post' %}" class="second-level">
                                            ARTIST FORUM
                                            {% comment %} <i class="fa fa-angle-right" aria-hidden="true">

                                            </i> {% endcomment %}
                                        </a>

                                    </li>



                                    <li>
                                        <a href="{% url 'blog' %}" class="desktop-navlinks">BLOG</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'invite' %}">
                                            INVITE
                                        </a>

                                    </li>

                                    {% if request.user.is_authenticated %}


                                    {%endif%}
                                    <li>
                                        <a href="mailto:info@bidgala.com">CONTACT</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}">
                                            ABOUT
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a>FAQ</a>
                                    </li> -->
                                    {%if request.user.is_authenticated%}
                                    <div class="mt-4 p-2">

                                        <a class="btn btn-dark  w-100 logout-detect"
                                            href="javascript:{document.getElementById('logout').submit()}">
                                            LOG OUT
                                        </a>
                                    </div>
                                    {% else %}

                                    <div class="mt-4 p-2">

                                        <a class="btn btn-dark  w-100" href="#" data-toggle="modal"
                                            data-target="#loginModal">
                                            LOG IN
                                        </a>
                                    </div>
                                    <div class="p-2">

                                        <a class="btn btn-light  w-100" href="{%url 'register'%}">
                                            REGISTER
                                        </a>
                                    </div>
                                    {%endif%}
                                </ul>
                            </div>

                        </nav>
                    </div>
                    <div class="main-menu d-none d-lg-block w-100 p-md-2">
                        <nav class="navbar_top_row">
                            <ul id="navigation">
                                <li>
                                    <button class="shop-button">SHOP ART</button>
                                </li>

                                <li id="sell-demo"><a href="{% url 'art_upload' %}" class="desktop-navlinks">SELL
                                        ART</a>
                                </li>

                                <li id="home-demo">
                                    <a href="{% url 'blog' %}" class="desktop-navlinks">BLOG</a>
                                </li>


                                <li><a href="{% url 'all_post' %}" class="desktop-navlinks">ARTIST
                                        FORUM</a></li>

                                <li id="earn-demo"><a href="{% url 'invite' %}" class="desktop-navlinks">INVITE</a></li>
                                {% if request.user.is_authenticated == True %}





                                <li><a href="{% url 'wish_list' %}"><i class="fas fa-heart"
                                            class="desktop-navlinks"></i></a></li>

                                {% comment %} <li><a href="{% url 'show_contacts' %}"> MESSAGES</a></li>

                                <li><a href="{% url 'orders' %}">ORDERS</a></li> {% endcomment %}

                                <li id="account-demo" tabindex="0">
                                    <div id="avatar_image" class="avatar avatar-id-{{request.session.user_info_id}}"
                                        style="{% if request.session.profile_img %}
                                            background-image: url({{request.session.profile_img}});
                                        {% else %}
                                            background-image: url({% static 'img/profile-icon.png'%});
                                        {% endif %}
                                    background-size: cover; width:25px; height:25px; border-radius: 50%;">

                                    </div>
                                    <ul class="submenu">
                                        <li class="d-flex"><a href="{% url 'public_profile' request.user %}">MY
                                                PROFILE</a></li>
                                        <li class="d-flex"><a href="{% url 'my_art' %}">MY ARTWORK</a>
                                        </li>


                                        <li class="d-flex"><a href="{% url 'orders' %}">ORDERS</a></li>

                                        <li class="d-flex align-items-center" id="desktop-messages"><a
                                                id="right-side-menu" href="{% url 'show_contacts' %}">MESSAGES</a></li>
                                        <li class="d-flex"><a href="{% url 'profile' %}">SETTINGS</a>
                                        </li>

                                        <li class="d-flex">
                                            <a class="logout-detect"
                                                href="javascript:{localStorage.clear();document.getElementById('logout').submit()}">
                                                LOG OUT
                                            </a>
                                        </li>
                                        <form action="{%url 'logout'%}" method="POST" id="logout">
                                            {%csrf_token%}
                                            <input type="hidden">
                                        </form>
                                    </ul>
                                </li>
                                <li>
                                </li>
                                {% else %}

                                <div class="signin_up">
                                    <li><a href="#" data-toggle="modal" data-target="#loginModal"
                                            class="desktop-navlinks ">LOGIN</a></li>
                                    <li><a href="{% url 'register' %}" class="desktop-navlinks">REGISTER</a>
                                    </li>
                                </div>


                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
                <hr class="line-break">
                <div class="mt-2 mb-1" id="">
                    <div class="d-flex justify-content-between align-items-center">

                        <!-- Logo -->
                        <a href="{% url 'index' %}" class="logo col-xl-4 col-lg-4 pl-3 w-100 pt-10 pb-10"
                            id="logo-demo">
                            <img class="logo-img" src="{% static 'img/logo/logo.svg' %}" alt="BIDGALA">
                        </a>


                        <!-- Categories -->
                        <div class="nav-category-buttons">
                            <button type="button" class="btn"><a href="{%url 'show_search' type_='art' value='all' %}">
                                    All Art </a></button>
                            <button type="button" class="btn"><a
                                    href="{%url 'show_search' type_='category' value='paintings' %}"> Paintings
                                </a></button>
                            <button type="button" class="btn"><a
                                    href="{%url 'show_search' type_='category' value='drawingIllustration' %}"> Drawings
                                </a></button>
                            <button type="button" class="btn"><a
                                    href="{%url 'show_search' type_='category' value='prints' %}"> Prints </a></button>
                            <button type="button" class="btn"><a
                                    href="{%url 'show_search' type_='category' value='sculptures' %}"> Sculptures
                                </a></button>
                            <button type="button" class="btn"><a
                                    href="{%url 'show_search' type_='curator' value='none' %}"> Curator Picks
                                </a></button>
                            <button type="button" class="btn"><a href="{% url 'advisory'%}"> Art Advisory </a></button>
                        </div>

                        <!-- Search Bar -->
                        <form action="{% url 'search' %}" method="POST" id="searchfield" name="searchfield"
                            class="searchfield col-lg-2 pb-2 d-sm-flex">
                            {% csrf_token %}
                            <div class="nav-search">
                                <label><i class="fas fa-search special-tag"></i></label>
                                <input class="nav-search-input form-control" type="text" placeholder="Search"
                                    aria-label="Search" name="keyword" form="searchfield">
                            </div>
                            <button class="d-block d-sm-none btn btn-link text-secondary close ml-2"
                                type="button">x</button>
                        </form>

                        <!-- Mobile menu -->
                        <div class="d-sm-flex d-lg-none">

                            <button class="d-sm-none btn btn-link text-dark" id="mobile-search-btn">
                                <span class="fa fa-search"></span>
                            </button>

                            <button class="d-lg-none button-nav-toggle" id="mobile-burger">
                                <span class="fa fa-bars"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>







            <!-- --------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            {%if 'messages' not in request.path %}
            {% comment %}
            <!-- Category nav -->
            <div class="category-header  d-none d-lg-block">
                <nav
                    class="category-nav navbar-expand col-12 row align-items-center justify-content-lg-center justify-content-xl-center">
                    <ul class="navbar-nav col-xl-10 col-md-10 pl-15" id="category-navigation">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ART MEDIUM
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for key, value in category.items %}
                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='category' value=key %}">{{value | upper}}</a>

                                {%endfor%}


                            </div>
                        </li>

                        <li class="nav-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                EXPLORE ART BY PRICE</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='price' value='price_max-100' %}">$100 AND UNDER</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='price' value='price_max-500' %}">$500 AND UNDER</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='price' value='price_max-1000' %}">$1000 AND
                                    UNDER</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='price' value='price_min-1000' %}">$1000 AND
                                    OVER</a>



                            </div>
                        </li>

                        <li class="nav-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LOCAL ART</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipcan' %}">CANADA</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipus' %}">US</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipeurope' %}">EUROPE</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipuk' %}">UK</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipasia' %}">ASIA</a>

                                <a class="dropdown-item"
                                    href="{%url 'show_search' type_='country' value='shipaunz' %}">NEWZEALAND/AUSTRALIA</a>



                            </div>
                        </li>

                        <li class="nav-item"><a class="nav-link"
                                href="{%url 'show_search' type_='curator' value='none' %}">CURATOR PICKS</a> </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">ABOUT</a> </li>
                    </ul>
                </nav>
            </div> {% endcomment %}

            {%endif%}
        </div>
    </div>


    {% if not user.is_authenticated %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="login-modal" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="form-title mb-3 text-center">
                        <h3>Login</h3>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form action="{% url 'login_user' %}" method="post" name="login-form" id="login-form">
                            {%csrf_token%}
                            <div class="form-group">
                                <input type="email" class="form-control input-md" name="email"
                                    placeholder="Email Address" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-md" name="password" id="password"
                                    placeholder="Password" required="required">
                            </div>
                            <div class="register-form d-flex justify-content-between">
                                <span class="form-group"><input type="checkbox" onclick="showPassword()">&nbsp;Show
                                    Password</span>
                                <span><a class="text-info" href="{% url 'forgot'%}">Forgot Password?</a></span>
                            </div>
                            <button type="submit" class="login-info-button btn btn-block">Login</button>
                        </form>
                        <div class="text-center text-muted m-3">or use social login</div>
                        <div class="d-flex justify-content-center social-buttons">
                            <span>
                                <a type="button"
                                    href="{% provider_login_url 'google' method='oauth2' %}&next={{request.path}}"
                                    class="login-info-button btn btn-block button-appearance">
                                    <i class="fab fa-google mr-1"></i> Google
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="signup-section">Not a member yet? <a href="{% url 'register' %}" class="text-info">Click
                            here to register</a></div>
                </div>
            </div>
        </div>
    </div>





    {%endif%}

    <!-- Header End -->



</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/index.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/LICENSE"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/package.json"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/README.md"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/combine/npm/js-cookie@3.0.1/index.min.js,npm/js-cookie@3.0.1"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<script>

    var couponCode = Cookies.get("coupon_code") || "null"
    if (couponCode == null) couponCode = '';
    $('#apply_coupon').click(function () {
        couponCode = $('#apply_coupon').attr("value")
        Cookies.set("coupon_code", couponCode, { expires: 1 }, "/");
        $('#apply_coupon').html('Coupon Applied!')
    })

</script>