{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="" href="{% static 'css/receipt.css' %}"/>
    </head>
    <body>
        
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
		<tr class="top_rw">
		   <td colspan="2">
		      <h2> Order Confirmation </h2>
			  <span> Order Number: 27B00032991LQ354 Date: 21-11-2018 </span>
		   </td>
		    
		</tr>
            <tr class="top">
                <td colspan="3">
                    <table>
                        <tr>
                            <td>
							Dear <b>Name</b>,<br>
							Thank you for shopping at BIDGALA. Please allow the artist 5 business days to package your artwork safely and submit a tracking number. Once it's been processed, you'll receive a shipment confirmation email with your order's tracking number.

							<br>
							<br>

							Below, you'll find a copy of your receipt and order information. Please keep it for your records.

							<br>
							<br>

							If you have any questions regarding your order, please <b>contact us</b> at <b>info@thebidgala.com</b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="information">
                  <td colspan="3">
                    <table>
                        <tr>
                            <td colspan="2">
							<b> Shipping Address: w3learnpoint </b> <br>
                                Mars, Mars Col <br>
                                +0651-908-090-009<br>
                                info@sandeep.com<br>
								www.sandeep.com
                            </td>
                            <td> <b> Billing Address: w3learnpoint </b><br>
                                Alien Corp.<br>
                                DC Universe<br>
                                Sandeep.com
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
                            <td colspan="3">
            <table cellspacing="0px" cellpadding="2px">
            <tr class="heading">
                <td>
                    ITEM
                </td>
				
                <td>
                    TOTAL PRICE (USD)
                </td>
				
				
            </tr>
			<tr class="item">
               <td>
                    Rubiks Cube
Pack Of 2 Rs. 60 Off
HSN Code :4818
novajj079
                </td>
				
                <td>
                    322.03
                </td>
				
				
				
            </tr>
			
            </td>
			</table>
            
			
        </table>
    </div>


    </body>
</html>