	.profile .form-control {
        min-height: 41px;
		background: #fff;
		box-shadow: none !important;
		border-color: #e3e3e3;
	}
	.profile .form-control:focus {
		border-color: #70c5c0;
	}
    .profile .form-control, .btn {        
        border-radius: 2px;
    }
	.profile {
		width: 350px;
		margin: 0 auto;
		padding: 100px 0 30px;		
	}
	.profile form {
		color: #7a7a7a;
		border-radius: 2px;
    	margin-bottom: 15px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;	
        position: relative;	
    }
	.profile h2 {
		font-size: 22px;
        margin: 35px 0 25px;
    }
	.profile  .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -65px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #70c5c0;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.profile .avatar img {
		width: 100%;
	}	
    .profile input[type="checkbox"] {
        margin-top: 2px;
    }
    .profile .other .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #70c5c0;
		border: none;
		margin-bottom: 20px;
    }
	.profile .other .btn:hover, .profile .other .btn:focus {
		background: #50b8b3;
        outline: none !important;
	}    
	.profile a {
		color: #fff;
		text-decoration: underline;
	}
	.profile a:hover {
		text-decoration: none;
	}
	.profile form a {
		color: #7a7a7a;
		text-decoration: none;
	}
	.profile form a:hover {
		text-decoration: underline;
	}

	img {
		border-radius: 50%
	}



.profile .p-image .file-upload {
    display: none;
}

.profile .p-image .upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}


 .profile .p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}