/* COUPON DISPLAY */

.coupon{
  text-align: center;
  background-color: #111;
  padding: 7px 0px;
  width: 100%;
}

.coupon h6{
  color: white;
}

.header-area .navbarr{
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  top: 0;
  z-index: 100;
  background-color: white;
}

.dropdown-container-desktop-padding{
  margin-top: 70px;
}

.nav-search {
  border-bottom: solid 1px black;
  padding: 0px 10px;
  /*margin-left: 30px;*/
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

/* #searchfield {
    width: 50%;
} */
.nav-search-input {
  border: none;
}

.form-control:focus {
    box-shadow: none;
}

#search-btn {
  border: solid 1px rgb(196, 196, 196);
  border-radius: 2px;
}

#search-btn:hover {
  border: solid 1px black;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 575px) {

  /* div.row {
        justify-content: space-around;
    } */
  #logo-demo {
    width: 200px;
    margin: 0px;
    padding: 0px;
  }

  .nav-search {
    width: 100%;
    margin: 20px 0px 0px;
  }

  .header-area .slicknav_btn {
    top: -75px;
  }
}

@media only screen and (max-width: 300px) {
  #logo-demo {
    width: 150px;
  }
}

#logo-demo {
  max-width: 200px;
}

@media only screen and (max-width: 768px) {
  .slicknav_menu .slicknav_icon-bar {
    margin-top: -5px;
  }
}

/* Category Nav */
.category-nav {
  margin: 0px;
  padding: 5px 0px;
  background-color: white;
  border-top: solid 1px rgb(202, 202, 202);
  border-bottom: solid 1px rgb(202, 202, 202);
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-size: 14px;
  color: black;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.nav-link:hover {
  color: #f50d48;
}

@media only screen and (max-width: 725px) {
  .category-header {
    display: none;
  }
}

.desktop-navlinks {
  font-size: 13px;
}

#navigation {
  display: flex;
  justify-content: flex-end;
}

#navigation li .desktop-navlinks {
  padding: 15px 0px;
  margin: 0 0 0 15px;
}

@media screen and (min-width: 1400px) {
  #navigation li .desktop-navlinks {
    margin: 0 0 0 25px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 576px) {
  .header-area .header-bottom {
    padding: 12px 25px;
  }
}

@media screen and (min-width: 992px) {
  div.header-sticky {
    padding: 0 !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  div.header-sticky form {
    width: 300px;
  }
}

@media screen and (max-width: 575px) {
  div.header-sticky form {
    padding: 0;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 220;
  background-color: transparent;
  visibility: hidden;
  transition-property: background-color, visibility;
  transition-duration: 250ms, 0ms;
  transition-timing-function: ease;
  transition-delay: 0ms, 250ms;

  
}

.menu.open{
  background-color: rgba(0,0,0,0.5);
  visibility: visible;
  transition-delay: 0ms, 0ms;
}

.nav-main {
  background: #ffffff;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  right: -300px;
  height: 100%;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  margin-left: -300px;
  transition: margin-left .5s;
}

.nav-main.open {
  margin-left: 0px;
}

.nav-main::-webkit-scrollbar {
  display: none;
}

.nav-main .nav-container {
  transition: left .25s ease-in-out;
  position: relative;
  left: 0
}

.nav-main .nav-container.show-sub {
  left: -300px
}

.nav-main .nav-container.show-sub-child {
  left: -600px
}

.nav-main .nav-container ul {
  margin: 0;
}

.nav-main .nav-container ul li {
  list-style: none;
  border-bottom: 1px solid #f8f8f8
}

.nav-main .nav-container ul li a {
  text-decoration: none;
  color: #4d5152;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  padding-left: 25px;
  cursor: pointer;
}

.nav-main .nav-container ul li a:hover {
  color: #4d5152
}

.nav-main .nav-container ul li ul {
  display: none;
  width: 300px;
  position: absolute;
  right: -300px;
  top: 0
}

li.child-level.active ul {
  width: 300px;
  position: absolute;
  right: -300px;
  top: 0
}

.nav-main .nav-container ul li ul li {
  border: 0
}

.nav-main .nav-container ul li ul li.nav-label {
  border-top: 1px solid #d5d7da;
  padding: 25px 0 10px
}

.nav-main .nav-container ul li ul li a {
  padding: 7px 15px 15px 15px;
  font-size: 14px
}

.nav-main .nav-container ul li ul li a.back {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.nav-main .nav-container ul li.has-sub-nav ul a {
  background: 0 0
}

.nav-main .nav-container ul li.active ul {
  display: block
}

li.child-level.active ul {
  display: block;
}

.open .nav-main {
  z-index: 100;
  display: block !important;
}

button.button-nav-toggle {
  font-size: 20px;
  border: none;
  background: white;
  color: black;
}

button.button-nav-toggle:focus {
  outline: none;
}

/*.close:before {*/
/*    content: '\e80a';*/
/*    font-size: 1.375rem;*/
/*}*/
div.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 36px;
  color: #fff;
  opacity: 1;
}

.close {
  text-shadow: none ;
  font-weight: 500;

}

.close:hover {
  cursor: pointer;
  color:rgba(223, 223, 223, 0.5)
}

.overflow-y-hidden {
  overflow: hidden !important;
  /*position: fixed;*/
}

img.avatar {
  border-radius: 50%;
  height: auto;
  width: 25px;
  margin-left: 5px;
}

.fa-angle-left {
  margin-right: 0.25rem;
  padding-top: 4px;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}

div.show {
  display: block;
}

.dropdown-container-desktop {
  /*display: none;*/
  width: 100vw;
  position: absolute;
  top: 85px;
  /*left: 0;*/
  background-color: white;
  z-index: 100;
  border-top: 1px solid #f5f4f2;
  border-bottom: 1px solid #f5f4f2;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.25);
}

.margin-line {
  margin: 1rem 0;
}

.sticky-menu {
  top: 52px;
}

p.categories-menu {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
}

p.category-menu {
  margin: 0.625rem 0;
  font-size: 0.9375rem;
  line-height: 1.4;
}

.dropdown-container-desktop p {
  color: black;
}

.dropdown-container-desktop p a {
  color: black;
}

.dropdown-container-desktop a:hover {
  color: darkgrey;
}

.header-bottom .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.header-bottom .main-menu ul ul.submenu {
  position: absolute;
  width: 130px;
  background: #fff;
  right: 5px;
  top: 90%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  padding-bottom: 20px;
}

.main-header ul>li:hover>ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 130%;
  border-radius: 5px;
}

.submenu li {
  height: 40px;
}

.submenu li a {
  font-size: 13px;
}

.header-sticky ul li a {
  padding: 10px 19px;
}

#overlay {
  display: none;
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 575px) {
  .searchfield {
    position: absolute;
    margin-top: -350px;
    transition: margin-top 0.3s;
  }
  .show-search {
    position: absolute;
    top: 0;
    background-color: white;
    margin-top: 0px;
    transition: margin-top 0.3s;
  }
  .nav-search {
    margin: 0px;
  }
  #overlay {
    display: block;
    transition: 0.3s ease-in;
  }
  .show-overlay {
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    padding: 0px;
    position: fixed;
    z-index: 10;
    background-color: black;
  }

}





@media only screen and (max-width: 992px) {
  .dropdown-container-desktop {
    display: none;
  }
}

.welcome-user{
    position: absolute;
    top: 0px;
    font-size: 14px;
    color: white;
    opacity: 1;
    padding-top: 1.25rem;
    padding-bottom:1.25rem;
    padding-left: 25px;
    width: 100%;
    background-color: #232629;
    line-height: 1;
}

.bg-black{
  background-color: #111;
}

#top-banner-notify {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 15px;
  font-size: 13px;
  
}
#top-banner-notify  p {
  margin-bottom: 0px;
}

.shop-button {
  padding: 0px;
  margin: 0px;
  background: none;
  border: none;
  font-size: 13px;
}

.shop-button:hover {
  color: #505050;

}

.shop-button:focus:not(:focus-visible) {
  outline: none;
}

