{% load static %}
{% block content %}
{% block cssfile %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/vendor/shepherd.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6 pl-0 -->

<style> body {background-color: #f1f1f1;} </style>

<div class="cancel-main mt-3">

    <div class="logo-cancel " id="logo-demo">
        <div class="logo">
            <a href="{% url 'index' %}"><img class="logo-img" 
                    src="{% static 'img/logo/logo.svg' %}" alt="BIDGALA"></a>
        </div>
    </div>
    
    <div class="d-flex flex-column align-items-center justify-content-center">
    
        <div>
            <p class="mt-2 text art-digest-text-1 cancel-question"> <h5 class="cancel-text">Are you sure you want to cancel your subscription?</h5>
            </p>
            
            <form id="cancel-subscription-form" method="POST" action="newsletter/unsubscribe">  
                {% csrf_token %}
                    <button class="btn btn-danger mb-2 cancel-button" id="cancel-btn" type="submit" value="" name="id_value">Yes, Cancel It</button>
            </form>

            <div class="success d-none">
                <h5 class="text text-muted">
                   Your subscription is cancelled!<br><br> We are sad to let you go!<br> <br>You may close this tab now!
                </h5>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    
    <script>
       
       var current_url = window.location.href
       var id = current_url.split('?')[1]
       $('#cancel-btn').val(id);
       $(document).on('submit','#cancel-subscription-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "DeleteNewsLetter" %}',
            data:
            {
                id_value: $("#cancel-btn").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(){
                $("#cancel-subscription-form").css("display", "none");
                $(".art-digest-text-1").css("display", "none")
                $(".success").removeClass( "d-none" )
                $(".art-digest-heading-text").addClass( "text-center" ) 
                $(".logo-cancel").addClass("mb-4")
            }
            })
        });
    </script>

</div>
{% endblock content %}