{% load static %}
{% block content %}
<div class="art-digest d-flex align-items-center justify-content-center mt-3">
    <div class="mt-5 d-flex flex-column">
        <div>
            <h3 class="lead art-digest-heading-text">BIDGALA DIGEST</h3>
        </div>
        <div class="art-digest-div-inner">
            <p class="text text-muted art-digest-text art-digest-text-1">Discover new art and collections added weekly by our curators.
            </p>
            
            <form id="bidgala-digest-form" method="POST">
                {% csrf_token %}
                <div class="email-and-btn">
                    <input class="form-control text-center art-digest-email-field" type="email" id="art-digest-email-value" placeholder="Email Address" name="art-digest-email-value" required>
                    <button class="btn btn-dark mb-2 art-digest-btn" type="submit">Sign Up</button>
                </div>   
            </form>

            <div class="success d-none">
                <h5 class="text text-muted art-digest-text">
                   Thank you for subscribing! <br> <br> You will now receive updates about our latest collections regularly!
                </h5>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    
    <script>
       $(document).on('submit','#bidgala-digest-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "NewsLetter" %}',
            data:
            {
                email_value:$("#art-digest-email-value").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                $("#bidgala-digest-form").css("display", "none");
                $(".art-digest-text-1").css("display", "none")
                $(".success").removeClass( "d-none" )
                $(".art-digest-heading-text").addClass( "text-center" )
            }
            })
        });
    </script>

</div>
{% endblock content %}