{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="table-responsive text-nowrap">
      
          <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Total</th>
      <th scope="col">Past 7 days</th>
      <th scope="col">Past 30 days</th>
      <th scope="col">Past 90 days</th>
      <th scope="col">Total Amount</th>
      <th scope="col">7 days Amount</th>
      <th scope="col">30 days Amount</th>
      <th scope="col">90 days Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">All signup</th>
      <td>{{overall_users}}</td>
      <td>{{new_users_7}}</td>
      <td>{{new_users_30}}</td>
      <td>{{new_users_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>
    
   <tr>
      <th scope="row">Buyer signup</th>
      <td>{{overall_buyer}}</td>
      <td>{{new_buyer_7}}</td>
      <td>{{new_buyer_30}}</td>
      <td>{{new_buyer_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>

    

    <tr>
      <th scope="row">Artist signup</th>
      <td>{{overall_artists}}</td>
      <td>{{new_artists_7}}</td>
      <td>{{new_artists_30}}</td>
      <td>{{new_artists_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>

    <tr>
      <th scope="row">Artist and Buyer signup</th>
      <td>{{overall_both}}</td>
      <td>{{new_both_7}}</td>
      <td>{{new_both_30}}</td>
      <td>{{new_both_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>

    <tr>
      <th scope="row">Professional signup</th>
      <td>{{overall_pro}}</td>
      <td>{{new_pro_7}}</td>
      <td>{{new_pro_30}}</td>
      <td>{{new_pro_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>


     <tr>
      <th scope="row">Messages</th>
      <td>{{overall_message}}</td>
      <td>{{new_message_7}}</td>
      <td>{{new_message_30}}</td>
      <td>{{new_message_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>

     <tr>
      <th scope="row">Posts</th>
      <td>{{overall_post}}</td>
      <td>{{new_post_7}}</td>
      <td>{{new_post_30}}</td>
      <td>{{new_post_90}}</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tr>

     <tr>
      <th scope="row">Order Holds</th>
      <td>{{overall_hold}}</td>
      <td>{{new_post_7}}</td>
      <td>{{new_post_30}}</td>
      <td>{{new_post_90}}</td>
      <td>{{overall_hold_total}}</td>
      <td>{{new_hold_7_total}}</td>
      <td>{{new_hold_30_total}}</td>
      <td>{{new_hold_90_total}}</td>
    </tr>

    <tr>
      <th scope="row">Accepted Orders</th>
      <td>{{overall_accept}}</td>
      <td>{{new_accept_7}}</td>
      <td>{{new_accept_30}}</td>
      <td>{{new_accept_90}}</td>
      <td>{{overall_accept_total}}</td>
      <td>{{new_accept_7_total}}</td>
      <td>{{new_accept_30_total}}</td>
      <td>{{new_accept_90_total}}</td>
    </tr>

    <tr>
      <th scope="row">Tracking provided</th>
      <td>{{overall_tracking}}</td>
      <td>{{new_tracking_7}}</td>
      <td>{{new_tracking_30}}</td>
      <td>{{new_tracking_90}}</td>
      <td>{{overall_tracking_total}}</td>
      <td>{{new_tracking_7_total}}</td>
      <td>{{new_tracking_30_total}}</td>
      <td>{{new_tracking_90_total}}</td>
    </tr>

  </tbody>
</table>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>
