{% extends 'base.html' %}
{% load static %}
{% block title %} | About{% endblock %}
{% block content %}
{% block cssfile %}
{%endblock%}

<div class="container mt-4">
  <div class="row">
    <section class="text-center w-100">
      <h1 class="fw-bold">Discover Bidgala</h1>
      <h5 class="text-center"><b>A global online art community and marketplace</b></h5>
    </section>
  </div>

  <div class="text-center">


  <hr/>
  <div class="row section-about mt-3 mt-lg-0">
    <div class="col-lg-6 img-container">
      <div class="about-img-container">
          <img src="{% static 'img/about/1.png'%}" alt="Red Planet by Olga Todorovska " class="about-img" />
          <div class="title-insideimg">"Power in Community"</div>
          <span class="author-insideimg">"Red Planet" by Olga Todorovska</span>
      </div>
      <span class="img-title">"Red Planet" by Olga Todorovska</span>
    </div>
    <div class="col-lg-6">
      <div class="row align-items-center h-100">
        <div class="col h-100">
          <div class="text-about">
            <div class="h-20">
              <h2 class="text-left">"Power in Community"</h2>
            </div>
            <div class="h-60">
              <p class="text-justify">
                Bidgala is building a community of artists, design professionals and art lovers to help bridge the gap between business and art. Through our online platform, we provide a transparent marketplace that facilitates meaningful connections between each member of the art community. From emerging to established, Bidgala aims to empower artists by providing them with the support they need to own their careers. At Bidgala, we champion artists by putting their stories at the heart of our community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row jumbotron">
    <div class="col-lg-6 second">
      <div class="row align-items-center h-100">
      <div class="col h-100">
        <div class="text-about">
          <div class="h-20">
            <h2 class="display-5 text-right p-0 right">"A Growing Marketplace"</h2>
          </div>
          <div class="h-60">
            <p class="text-justify">Explore original art you’ll love through our extensive collection of incredible artworks by artists from around the world. With new pieces uploaded everyday, Bidgala is constantly expanding our selection of paintings, sculptures, photographs and more. Browse through thousands of art pieces and connect with your favorite artists in a matter of seconds. At Bidgala, there is a painting for everyone.
          </p>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 img-container">
      <div class="about-img-container">
        <img src="{% static 'img/about/2.jpg'%}" alt="At Waters Edge by Gaby Mayer" class="about-img" />
        <div class="title-insideimg">"A Growing Marketplace"</div>
        <span class="author-insideimg">"At Waters Edge" by Gaby Mayer</span>
      </div>
      <span class="img-title">"At Waters Edge" by Gaby Mayer</span>
    </div>
  </div>




  <div class="row section-about">
    <div class="col-lg-6 img-container">
      <div class="about-img-container">
        <img src="{% static 'img/about/3.jpg'%}" alt="" class="about-img" />
        <div class="title-insideimg">"Innovation through Education"</div>
        <span class="author-insideimg">"Let the Light Back In" by Marianne H. Nielsen</span>
      </div>
      <span class="img-title">"Let the Light Back In" by Marianne H. Nielsen</span>
    </div>
    <div class="col-lg-6">
      <div class="row align-items-center h-100">
        <div class="col h-100">
        <div class="text-about">
          <div class="h-20">
            <h2 class="display-5 text-left">"Innovation through Education"</h2>
          </div>
          <div class="h-60">
            <p class="text-justify">
              Bidgala is a creative ecosystem that expands the art community through education and conversation. Our mission is to keep art-lovers informed on current happenings in the art-world, all while driving new and innovative ideas. Read our weekly editorials and newsletters for interviews, stories, tips, tricks, and much more.
            </p>
          </div>
        </div>



        </div>
      </div>
    </div>
  </div>





   <div class="row jumbotron">
    <div class="col-lg-6 second">
      <div class="row align-items-center h-100">
      <div class="col h-100">
        <div class="text-about">
          <div class="h-20">
            <h2 class="display-5 text-right p-0 right">"Democratizing Art"</h2>
          </div>
          <div class="text-center h-60">
            <p class="text-justify">
              By creating an accessible platform, we want to make the artworld more accessible to art lovers and artists everywhere. Our barrer-free marketplace welcomes people from all walks of life and seeks to inspire the current and future generations of artists and art enthusiasts. At Bidgala, we believe in the power of community and that together, we can spark change one connection , one sale and one opportunity at a time.
            </p>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 img-container">
      <div class="about-img-container">
        <img src="{% static 'img/about/4.jpg'%}" alt="" class="about-img" />
        <div class="title-insideimg">"Democratizing Art"</div>
        <span class="author-insideimg">"Deeper" by Aimee Ruoff</span>
      </div>
      <span class="img-title">"Deeper" by Aimee Ruoff</span>
    </div>
  </div>


<hr/>

   <div class="row jumbotron section-about section-bottom">
    <div class="col-lg-12">
      <div class="row align-items-center h-100">
      <div class="col">
        <h2 class="display-5 text-center">Our Story</h2>
        <br/>
        <div class="text-justify pl-lg-5 pr-lg-5">
          <p style="line-height: 2rem">
            William Lande & Sam Tenenbaum co-founded Bidgala out of Montreal, Canada when they noticed a pair of art students struggling to sell their work. The struggle for artists was intensified when the COVID-19 pandemic caused business closures and in-person event cancellations. William & Sam made it their mission to support all artists and to share their stories.
          </p>

        </div>
        </div>
      </div>
    </div>

  </div>
</div>

{%endblock%}
