{% extends 'base.html' %}
{% load static %}
{% block title %} | Packing Guide {% endblock %}
{% block content %}
<div class="jumbotron">
  <h3 class="display-4 text-center">Visual Arts - Guide to packaging your artwork</h3>
  <br>
  <p>Congratulations on making a sale! Fine arts are trending. Now that you’ve found the perfect buyer, it’s time to package it for shipping. Here’s a short guide on <b>“how to package your art”</b> to ensure that your <b>buyers are completely satisfied</b> and to <b>avoid any damages or returns.</b></p>
  <br>
  <p><u>Find below our complete guide to packaging and shipping your art.</u></p>
    <h4>Summary</h4>
    <ol>
        <li>Your art sells online at Bidgala</li>
        <li>Confirm the order on the Bidgala website by clicking on “My profile”→ “My orders” → Select the correct order → Click on “Confirm Order”</li>
        <li>Wrap your art in multiple layers of bubble wrap before placing it in a shipping box. Pay close attention to the edges & corners! Seal the bubble wrap around the art using tape.</li>
        <li>Place your bubblewrap-covered art into a double thickness pre-made cardboard box. If your art does not fit into a pre-made box then use pre-cut sheets of MDF.</li>
        <li>Put a “fragile” or ”glass” sticker on the shipping box.</li>
        <li>Add a personal touch to the shipment (personal note, bow, card, sticker, gift wrapping, etc.)</li>
        <li>Submit pictures of the shipment to the buyer through Bidgala’s website if you can (inside the box & outside the box) by clicking on “my profile”→ “my orders.”→ select the correct order → click on “Submit pictures”</li>
        <li>Ship the art and collect a tracking number</li>
        <li>Submit the shipment’s tracking number through the Bidgala website through “my profile”→ “my orders.”→ select the correct order → click on “Submit Tracking Number”</li>
        <li>Keep your customers up to date with any news concerning their shipment.</li>
        <li>Get paid once the buyer happily receives their artwork</li>
    </ol>
    <h4>Art Education & Shipping Tips</h4>
    <br>
    <p><b>Art Stores Near Me:</b></p>
    <p>One of the most common art searches is “art near me.” Therefore, art lovers will often use Bidgala’s social functions to find local art. Make sure to check how far the buyer is from your location. To save yourself money & time, you may be able to deliver the artwork yourself!</p>
    <br>
    <p><b>Buying Art online - Independent Art</b></p>
    <p>Art lovers & designers are often afraid to buy art online from independent artists. Not only do they have no way of verifying the sellers but it is impossible to inspect the original art pieces they are buying. Luckily, Bidgala offers social functions such as chats, verification, and reviews. In addition to Bidgala’s features and protection, emerging artists & student artists can help buyers feel comfortable purchasing art online by learning how to ship their art safely.</p>
    <br>
    <div class="card-group">
      <div class="card-columns d-flex justify-content-center">
      <div class="card" >
        <img class="card-img-top" src="{% static 'img/guide/pack.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Inner-Packaging - Original Art</h5>
          <p class="card-text">Regardless of the size, weight, or type of artwork, it must be fully protected throughout the shipping process. Simply placing the art piece in a box without inner packaging is high-risk, especially for one-of-a-kind art. We strongly suggest covering your piece in bubble wrap or similar alternatives before packing it. The most vulnerable places of an art piece are the edges and corners, so be sure to place extra padding around those areas. For maximum security, use multiple layers of bubble wrap before placing the art piece in the shipping box and use tape to secure the bubble wrap to your art.  We also recommend lining the entire interior of the box with bubble wrap.</p>
        </div>
      </div>
      <div class="card " >
        <img class="card-img-top" src="{% static 'img/guide/fragile.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Outer-Packaging</h5>
          <p class="card-text">Although bubble wrap is essential to the inner-packaging, it is not sufficient to ensure that your art piece is fully protected. The type of box you use is key when trying to ensure that your art is received in the same condition that it was delivered. One of the boxes we highly suggest using when shipping your artworks is the double thickness pre-made cardboard box. Moreover, it’s necessary to use the proper labels indicating the fragility of your shipment. For example, if you are shipping a sculpture or painting, it is important to have a sticker or tape on the outer packaging mentioning “glass”, “do not stack” or “fragile”. </p>
        </div>
      </div>
      </div>
    </div>
    <br>
    <h4>Finishing touches</h4>
    <p>One action that helps leave your art buyers extra satisfied is a personal touch to the package. Whether it be a bow, a card, a note, a sticker, or even gift wrapping paper, it will help you increase repeat purchases. For those who sell art online at Bidgala, we also highly suggest that you submit a few photographs of the packaged artwork to the buyer through the Bidgala website (inner box, outer box, and personalized touches) so that the buyer can see that the art is in good care and has an expectation of what it will look like when it arrives. </p>
    <br>
    <p>Lastly, keep your customers up to date with any shipping updates using Bidgala’s messaging system, and don't forget to provide them with the packages tracking information. As soon as you submit the tracking info & the buyer happily receives their artwork, your funds will be released and you will be paid!
    </p>
</div>
    
{% endblock %}