{% extends 'base2.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}

{% block more_meta_tags %}
<meta property="og:title" content="Welcome to Bidgala" />
<meta property="og:type" content="website" />
<meta property="og:description" content="" />
<meta property="og:image" content="https://bidgala.com/{% static 'img/email/logo_white_bg.png' %}" />
<meta property="og:url" content="https://bidgala.com" />
{% endblock %}
{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<main>

    <div class="d-flex flex-column">
        <!-- New Main Carousel -->
        <section id="showcase">
            <div id="carouselExampleIndicators" class="carousel slide img-center w-100 col-lg-9 col-md-9 col-sm-12 "
                data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/carousel1.jpeg' %}" class="main-carousel-img w-100 d-block" alt="">
                        <div class="btn-exp col-lg-4 col-md-4 col-sm-3 ">
                            <button type="button" class="btn btn-dark exp-button">Start Exploring</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/carousel2.jpg' %}" class="main-carousel-img w-100 d-block" alt="">
                        <div class="btn-exp col-lg-4 col-md-4 col-sm-3 ">
                            <button type="button" class="btn btn-dark exp-button">Fine Art</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/carousel3.jpg' %}" class="main-carousel-img w-100 d-block" alt="">
                        <div class="btn-exp col-lg-4 col-md-4 col-sm-3 ">
                            <button type="button" class="btn btn-dark exp-button">Fine Art</button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev exp-carousel-arrows" href="#carouselExampleIndicators" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next exp-carousel-arrows" href="#carouselExampleIndicators" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>


        <!-- NEW BUTTONS -->
        <section class="category-buttons">
            <button type="button" class="btn btn-outline-dark"><a
                    href="{%url 'show_search' type_='category' value='paintings' %}">Paintings</a></button>
            <button type="button" class="btn btn-outline-dark ml-2"><a
                    href="{%url 'show_search' type_='style' value='abstract' %}">Abstrtact</a></button>
            <button type="button" class="btn btn-outline-dark ml-2"><a
                    href="{%url 'show_search' type_='style' value='landscape' %}">Landscape</a></button>
            <button type="button" class="btn btn-outline-dark ml-2"><a
                    href="{%url 'show_search' type_='price' value='price_max-500' %}">Under $500</a></button>
            <button type="button" class="btn btn-outline-dark ml-2"><a
                    href="{%url 'show_search' type_='curator' value='none' %}">Curator Picks</a></button>
            <button type="button" class="btn btn-outline-dark ml-2">Large Works</button>
            <button type="button" class="btn btn-outline-dark ml-2"><a
                    href="{%url 'show_search' type_='art' value='all' %}">All Art</a></button>
        </section>

    </div>

    <!-- Curator Picks -->
    <div class="container-fluid curator-container mb-5 mt-2">
        <h3 style="color: black;">Shop Original Art From Our Global<br>Community of Independent Artists</h3>
        <div class="row curator-inner">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 curator-row">
                        <h5 style="text-align:left; color: black;">Curator Picks</h5>
                        <h4 style="text-align:left; color: black;">Handpicked by expert art curators</h4>
                        <br>
                        <a href="{%url 'show_search' type_='curator' value='none' %}">
                            <p class="view-all mb-2" style="text-align:left; color: black;">View All →</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.0.id%}">
                            <div class="price-tag">${{products.0.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.0.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.1.id%}">
                            <div class="price-tag">${{products.1.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.1.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                </div>
                <br>
                <div class="row curator-picks-mobile-hide">
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.2.id%}">
                            <div class="price-tag">${{products.2.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.2.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.3.id%}">
                            <div class="price-tag">${{products.3.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.3.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.4.id%}">
                            <div class="price-tag">${{products.4.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.4.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 curator-row">
                        <a href="{%url 'product_view' id=products.5.id%}">
                            <div class="price-tag">${{products.5.price}}</div>
                            <img data-aload="{{BASE_IMG_URL}}{{products.5.image}}{{img_optimize_param}}"
                                alt="Curator Image" class="d-block w-100 h-100 curator-inner-img"
                                style="object-fit: fill;">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 curator-row-large curator-picks-mobile-hide">
                <a href="{%url 'product_view' id=products.6.id%}">
                    <div class="price-tag">${{products.6.price}}</div>
                    <img data-aload="{{BASE_IMG_URL}}{{products.6.image}}{{img_optimize_param}}" alt="recent5"
                        class="d-block w-100 h-100 curator-inner-img" style="object-fit: fill;">
                </a>
            </div>
        </div>
    </div>


    <!-- Main Carousel -->
    <div class="d-flex flex-column align-items-center">
        <div id="index-sections">

            <!-- What is BIDGALA -->
            <div class="bidgalastory">
                <div class="text-center">
                    <h1><b>What is Bidgala?</b></h1>
                    <h6><u><a href="{% url 'about' %}">Read our young & bold story</a></u>
                        <h6>
                </div>
                <br>
                <div class="accordion bidgala-details" id="accordionExample">

                    <!-- buttons for what is bidgala -->

                    <!-- d-flex justify-content-between align-items-center -->

                    <div class="bidgala-btns">
                        <div id="headingOne" class="bidgala-buttons">
                            <h2 class="mb-0">
                                <button class="btn btn-dark btn-block text-center" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    A Fine Art Marketplace
                                </button>
                            </h2>
                        </div>
                        <div id="headingTwo  bidgala-buttons">
                            <h2 class="mb-0">
                                <button class="btn btn-dark btn-block text-center collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Support Independent Creators

                                </button>
                            </h2>
                        </div>
                        <div id="headingThree" class="bidgala-buttons">
                            <h2 class="mb-0">
                                <button class="btn btn-dark btn-block text-center collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Connecting with the Artist
                                </button>
                            </h2>
                        </div>
                    </div>
                    <!--/ buttons for what is bidgala -->

                    <div class="card">

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body bidgala-info">
                                <img src="{% static 'img/OMEN1.jpg' %}" class="pic-bidgala" alt="PIC1">
                                <p style="padding: 0 0.5rem;">
                                    Bidgala is a fine art marketplace, catering to homeowners and
                                    design professionals. We connect art lovers directly with student and emerging
                                    artists who sell their original art at lower prices. Our mission is to make art
                                    accessible by empowering artists one sale, one connection and one story at a time.
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="card">

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body bidgala-info">
                                <img src="{% static 'img/OMEN2.png' %}" class="pic-bidgala1" alt="PIC2">
                                <p style="padding: 0 0.5rem;">
                                    Artworks are shipped directly from the artists’ studio to your
                                    home. Each purchase is in support of independent artists and their craft.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body bidgala-info">
                                <img src="{% static 'img/OMEN1.jpg' %}" class="pic-bidgala" alt="PIC1">
                                <p style="padding: 0 0.5rem;">
                                    Knowing who’s artwork is hanging in your home and connecting with
                                    them on a personal level makes every purchase more meaningful. Purchase confidently
                                    by connecting with artists through Bidgala DMs or by reading artist stories in their
                                    profiles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- Community channels -->
            <!-- <div class="container-fluid p-0">
                <div class="d-flex">
                    <div class="d-flex flex-column w-100 position-relative">
                        <div class="d-flex mb-2 mt-4 pl-2 pr-2 p-xl-0">
                            <h3>Community</h3>
                            <i class="fas fa-chevron-left prev d-xl-none d-block  mt-4" id="prev-channels"></i>
                            <i class="fas fa-chevron-right next d-xl-none d-block  mt-4" id="next-channels"></i>
                            {% comment %} <div class="help-tip">
                                <p>Community channels are where you can engage with the art community, ask questions and
                                    share whatever you'd like!</p>
                            </div> {% endcomment %}
                        </div>
                        <div class="channels d-flex justify-content-between w-100">
                            <div class="card ml-1 mr-1">
                                <a href="{% url 'all_post' %}" class="channel">
                                    <div class="channel-img">
                                        <img class="card-img-top" data-aload="{% static 'img/all_channels.png' %}"
                                            alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title text-center">All Channels</p>
                                    </div>
                                </a>
                            </div>
                            {%for channel in channels%}
                            <div class="card ml-1 mr-1">
                                <a href="{% url 'specific' channel.name%}" class="channel">
                                    <div class="channel-img">
                                        <img class="card-img-top"
                                            data-aload="{{BASE_IMG_URL}}{{channel.img}}{{img_optimize_param}}"
                                            alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title text-center">{{channel.name | title}}</p>
                                    </div>
                                </a>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div> -->

            <hr class="line-break">

            <!-- Press Logos -->
            <div class="discover-div mt-5 mb-5">

                <div class="card-deck press-inner-div w-100 ">

                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/1.png' %}" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/2.png' %}" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/3.png' %}" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/4.png' %}" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/6.png' %}" alt="Card image cap">
                    </div>
                    <div class="card">
                        <img class="card-img-press" src="{% static 'img/5.png' %}" alt="Card image cap">
                    </div>

                </div>
            </div>

            <hr class="line-break">

            <!-- New featured artists -->
            <div class="mt-5 mb-5 artists-feature">

                <div class="d-flex justify-content-between align-items-center w-100 mb-2 pl-2 pr-2 p-xl-0">
                    <h3 class="mb-2" style="color: black;">Featured Artists</h3>
                </div>

                <i class="fas fa-chevron-left prev d-block" id="pre-top-art"></i>
                <i class="fas fa-chevron-right next d-block" id="next-top-art"></i>

                <div class="d-flex new-featured-artist-cards justify-content-between">
                    {%for featured_artist in product_featured_artist%}
                    <div class="card new-featured-artists">

                        <a href="{% url 'public_profile' featured_artist.0.owner.user.username %}" class="artist-link">
                            <img class="artist-img w-100"
                                data-aload="{{BASE_IMG_URL}}{{featured_artist.0.image}}{{img_optimize_param}}"
                                alt="Card image cap">

                            <div class="d-flex w-100 ">
                                <img class="artist-img pt-1 pr-1 pb-1 d-block w-100"
                                    data-aload="{{BASE_IMG_URL}}{{featured_artist.1.image}}{{img_optimize_param}}"
                                    alt="Card image cap">
                                <img class="artist-img pt-1 pb-1 d-block w-100"
                                    data-aload="{{BASE_IMG_URL}}{{featured_artist.2.image}}{{img_optimize_param}}"
                                    alt="Card image cap">
                            </div>


                            <div class="d-flex mt-2">
                                <img class="artist-logo mr-3"
                                    data-aload="{{BASE_IMG_URL}}{{featured_artist.0.owner.profile_img}}{{img_optimize_param}}"
                                    alt="Card image cap">
                                <div class="d-flex flex-column w-100">
                                    <div class="d-flex">
                                        <p class="card-text">{{featured_artist.0.owner.user.first_name|title}}
                                            {{featured_artist.0.owner.user.last_name|title}}</p>
                                        {%if featured_artist.0.owner.special_user%}
                                        <img class="d-inline text-nowrap checkmark ml-2"
                                            data-aload="{% static 'img/check.svg' %}" alt="checkmark">
                                        {% else %}
                                        <img class="text-nowrap checkmark ml-2" style="visibility: hidden;"
                                            data-aload="{% static 'img/check.svg' %}" alt="checkmark">
                                        {%endif%}
                                    </div>
                                    <p class="card-text">{{featured_artist.0.owner.country|title}}</p>
                                    <i class="far fa-heart"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    {%endfor%}


                </div>

            </div>

            <!--Featured Artists-->
            <!-- <div class="container-fluid p-0 artists-feature">
                <h3 class="mb-3 mt-5 pl-2 pr-2 p-xl-0">Featured Artists</h3>
                <i class="fas fa-chevron-left prev d-block" id="pre-top-art"></i>
                <i class="fas fa-chevron-right next d-block" id="next-top-art"></i>
                <div class="featured-artists d-flex flex-wrap">
                    {%for featured_artist in featured_artists%}
                    <a href="{% url 'public_profile' featured_artist.owner.user.username %}" class="artist-link">
                        <div class="artist">
                            <img data-aload="{{BASE_IMG_URL}}{{featured_artist.image}}{{img_optimize_param}}" />
                        </div>
                        <div class="text-center mt-3 mb-3">
                            <div class="d-inline">{{featured_artist.owner.user.first_name|title}}
                                {{featured_artist.owner.user.last_name|title}}</div>
                            {%if featured_artist.owner.special_user%}
                            <img class="d-inline text-nowrap checkmark" data-aload="{% static 'img/check.svg' %}"
                                alt="checkmark">
                            {%endif%}
                            <small class="text-muted d-block">@{{featured_artist.owner.user.username}}</small>
                        </div>
                    </a>
                    {%endfor%}
                </div>
            </div> -->

            <hr class="line-break">

            <!-- Shop by Category -->
            <div class="div-shop-price mt-5">
                <h4>Shop By Category</h4>

                <div class="shop-by-mobile" id="">

                    <a class="shop-by-a" href="{%url 'show_search' type_='category' value='paintings' %}"
                        style="font-size: medium;">
                        Paintings
                    </a>
                    <a class="shop-by-a" href="{%url 'show_search' type_='category' value='drawingIllustration' %}"
                        style="font-size: medium;">
                        Drawings
                    </a>
                    <a class="shop-by-a" href="{%url 'show_search' type_='category' value='photography' %}"
                        style="font-size: medium;">
                        Photography
                    </a>
                    <a class="shop-by-a" href="{%url 'show_search' type_='category' value='sculptures' %}"
                        style="font-size: medium;">
                        Sculptures
                    </a>

                </div>

            </div>

            <hr class="line-break">

            <!-- Curators Picks Carousel - loop through data instead of static data -->
            <!-- <div class="container-fluid art-carousel mt-5 p-0" id="Curator-Picks-slider">
                <div class="d-flex justify-content-between align-items-center w-100 mb-2 pl-2 pr-2 p-xl-0">
                    <h3 class="mb-2">Curator Picks</h3>
                    <a href="{%url 'show_search' type_='curator' value='none' %}">
                        <p class="view-all mb-2">View All →</p>
                    </a>
                </div>
                <i class="fas fa-chevron-left prev hide" id="pre-curator-pick"></i>
                <i class="fas fa-chevron-right next hide" id="next-curator-pick"></i>
                <div class="art-cards curator-picks">
                    {% for product in products%}
                    <div class="card ml-1 mr-1">
                        <a href="{%url 'product_view' id=product.id%}">

                            <img class="card-img-top product-img"
                                data-aload="{{BASE_IMG_URL}}{{product.image}}{{img_optimize_param}}"
                                alt="Card image cap">
                            <div class="card-body">

                                <p class="card-title mb-1">{{product.art_title}}</p>
                                <p class="card-text mb-1">{{product.owner.user.first_name}}
                                    {{product.owner.user.last_name}}</p>
                                <p class="card-text">${{product.price|intcomma}}</p>
                            </div>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div> -->

            <!-- Art Advisor-->
            <div class="container-fluid d-flex flex-column mt-5 mb-5 pl-2 pr-2 p-xl-0">
                <div class="d-flex mt-5 shop-by-price">
                    <img src="{{BASE_IMG_URL}}{{advisory_img}}{{img_optimize_param}}" alt="">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <h3 style="color: black;">Find Art You Love</h3>
                        <p class="text-center">"Bidgala’s art advisors help make the experience of shopping for art easy
                            and enjoyable. Whether you’re looking for a specific piece or want to discover some of our
                            emerging artists, we will walk you through the simple process. "</p>
                        <a href="{% url 'advisory'%}" class="btn btn-outline-dark text-uppercase"
                            style="color: black;">work with an art
                            advisor</a>
                    </div>
                </div>
            </div>

            <hr class="line-break">

            <!-- New Art Carousel -->
            <!-- <div class="container-fluid art-carousel p-0" id="Trending-Art-slider">
                <h3 class="mb-2 pl-2 pr-2 p-xl-0">New Art</h3>
                <i class="fas fa-chevron-left prev hide" id="prev-trending"></i>
                <i class="fas fa-chevron-right next hide" id="next-trending"></i>

                <div class="art-cards trending-art w-100">
                    {% for product in new_products%}
                    <div class="card ml-1 mr-1">
                        <a href="{%url 'product_view' id=product.id%}">
                            {%if product.curator_pick %}
                            <div class="label-tag1">Curator Pick</div>
                            {%elif product.owner.featured_artist %}
                            <div class="label-tag1">Featured Artist</div>
                            {%endif%}
                            <img class="card-img-top product-img"
                                src="{{BASE_IMG_URL}}{{product.image}}{{img_optimize_param}}" alt="Card image cap">
                            <div class="card-body">

                                <p class="card-title mb-1">{{product.art_title}}</p>
                                <p class="card-text mb-1">{{product.owner.user.first_name}}
                                    {{product.owner.user.last_name}}</p>
                                <p class="card-text">${{product.price|intcomma}}</p>
                            </div>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div> -->

            <!-- Articles starts here -->
            <!-- <div class="container-fluid art-carousel p-0 discover-carousel col-lg-4 col-md-4 col-sm-6" id="Trending-Art-slider">
                <div class="container-fluid p-0">
                    <div class="">
                        <div class="">
                            <div class="">
                                <h3>Discover</h3>
                            </div>
                            <i class="fas fa-chevron-left prev mt-5" id="prev-articles"></i>
                            <i class="fas fa-chevron-right next mt-5" id="next-articles"></i>

                            <div class="articles discover-div">
                                {%for article in discover_articles %}
                                <div class="card ml-1 mr-1 bloglatest">
                                    <a href="{% url 'article_details' article.slug %}">

                                        <img class="article-img"
                                            src="{{BASE_IMG_URL}}{{article.img}}{{img_optimize_param}}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <p class="card-title mb-1 text-muted">{{article.category | title}}</p>
                                            <p class="card-title mb-1">{{article.title | title}}</p>
                                        </div>
                                    </a>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <hr class="line-break">

            <!-- Shop by Price -->
            <div class="div-shop-price mt-5">
                <h4>Shop By Price</h4>

                <div class="shop-by-mobile" id="">

                    <a class="shop-by-a" href="{%url 'show_search' type_='price' value='price_max-500' %}"
                        style="font-size: medium;">
                        Under $500
                    </a>
                    <a class="shop-by-a" href="{%url 'show_search' type_='price' value='price_min_max-500-1000' %}"
                        style="font-size: medium;">
                        $500-$1000
                    </a>

                    <a class="shop-by-a" href="{%url 'show_search' type_='price' value='price_min_max-1000-2000' %}"
                        style="font-size: medium;">
                        $1000-$2000
                    </a>
                    <a class="shop-by-a" href="{%url 'show_search' type_='price' value='price_min-2000' %}"
                        style="font-size: medium;">
                        $2000-$5000
                    </a>

                </div>

            </div>

            <hr class="line-break">

            <!-- Fresh from the blog -->
            <div class="discover-div mt-5">
                <div>
                    <a href="{% url 'blog' %}" class="desktop-navlinks">
                        <h3 class="ml-3">Fresh from the blog <p class="view-all mt-2" style="float: right;">View All →
                            </p>
                        </h3>
                    </a>
                </div>
                <div class="card-deck discover-inner-div w-100">
                    {%for article in discover_articles %}
                    
                    <div class="dis-card card">
                        <a href="{% url 'article_details' article.slug %}">
                        <img class="card-img-fresh" src="{{BASE_IMG_URL}}{{article.img}}{{img_optimize_param}}" alt="Card image cap">
                        <div class="card-body p-2">
                            <span class="card-text text-muted">{{article.category | title}}</span>
                            <h5 class="card-title mt-2">{{article.title | title}}</h5>
                            <p class="card-text discover-card-body">{{article.body}}</p>
                            <p class="card-text"><small class="text-muted">Created on: {{article.created_date}}</small></p>
                        </div>
                    </a>
                    </div>
                    
                    {%endfor%}
                </div>
            </div>

            <!-- what is bidgala OLD -->
            <!-- <div class="bidgalastory ">
                <div class="bidgalainfo text-center">
                    <h1><b>What is Bidgala?</b></h1>
                    <h6><u><a href="{% url 'about' %}">Read our young & bold story</a></u>
                        <h6>

                </div>
                <div class=" bidinfo  ">


                    <div class="info1 col-md-4 ">
                        <h4>A fine art marketplace for everyone</h4>
                        <p id="info-content1">Bidgala is a fine art marketplace, catering to homeowners and
                            design professionals. We connect art lovers directly with student and emerging
                            artists who sell their original art at lower prices. Our mission is to make art
                            accessible by empowering artists one sale, one connection and one story at a time.
                        </p>
                    </div>
                    <div class="info2 col-md-4 ">
                        <h4>Connecting with the artist</h4>
                        <p></p>
                        <p id="info-content2">Knowing who’s artwork is hanging in your home and connecting with
                            them on a personal level makes every purchase more meaningful. Purchase confidently
                            by connecting with artists through Bidgala DMs or by reading artist stories in their
                            profiles.
                        </p>
                    </div>
                    <div class="info3 col-md-4 ">
                        <h4>Support independent creators</h4>
                        <p></p>
                        <p id="info-content3">Artworks are shipped directly from the artists’ studio to your
                            home. Each purchase is in support of independent artists and their craft.
                        </p>
                    </div>


                </div>
                <div class="info-q text-center">
                    <p id="line">Have a question? For the love of art, get some answers...</p>
                    <a href="mailto:info@bidgala.com"><button class="info-btn">CONTACT
                            US</button></a>
                </div>

            </div> -->

            <hr class="line-break mt-5">

            <!-- Reviews -->
            <div class="d-flex review-main">

                <div class="card col-lg-3 mt-4">
                    <img class="ratings-left-img d-block w-100" src="{% static 'img/trustPilot.png' %}"
                        alt="Card image cap">
                </div>

                <!-- REVIEWS -->
                <div class="container reviews-carousel col-lg-9 mt-4">

                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                        <!--Controls-->
                        <div class="controls-top">
                            <a class="btn-floating reviews-carousel-arrow-left" href="#multi-item-example"
                                data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                            <a class="btn-floating reviews-carousel-arrow-right" href="#multi-item-example"
                                data-slide="next"><i class="fa fa-chevron-right"></i></a>
                        </div>
                        <!--/.Controls-->

                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 1</h4>
                                                <p class="card-text">Very Good Product. Great Collections</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 2</h4>
                                                <p class="card-text">Review 2 Description </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 3</h4>
                                                <p class="card-text">Review 3 Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.First slide-->

                            <!--Second slide-->
                            <div class="carousel-item">

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 4</h4>
                                                <p class="card-text">Review 4 Description </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 5</h4>
                                                <p class="card-text">Review 5 Description </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 clearfix d-none d-md-block">
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <img class="reviews-img d-block w-50"
                                                    src="{% static 'img/ratings.png' %}" alt="Card image cap">
                                                <h4 class="card-title mt-2">Review 6</h4>
                                                <p class="card-text">Review 6 Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--/.Second slide-->

                        </div>
                        <!--/.Slides-->

                    </div>
                    <!--/.Carousel Wrapper-->


                </div>

            </div>

            <hr class="line-break mt-5">

            <!-- Free Returns starts here -->
            <div class=" mt-5 free-returns ">
                <div class="d-flex flex-column justify-content-center align-items-center ">
                    <h1><b>Free Returns</b></h1>

                    <div class="text-return"> 100% Satisfaction Guaranteed. If you're not completely in love
                        with art
                        you purchase, return it for free. No questions asked. </div>

                    <a href="{%url 'show_search' type_='art' value='all' %}"><button class="returns-btn">EXPLORE
                            ALL ART</button></a>
                </div>
            </div>

            <!-- Shop by category starts here -->
            <!-- <div class="container-fluid pl-2 pr-2 p-xl-0">
                <div class="d-flex">
                    <div class=" d-flex flex-column w-100">
                        <div class="d-flex mb-2 mt-5 ">
                            <h3>Shop by Category</h3>
                        </div>
                        <div class="d-flex flex-wrap justify-content-between">
                            {% for key, value in category.items %}
                            {% for cat in category_objs %}
                            {% if key == cat.category_name %}
                            <a href="{%url 'show_search' type_='category' value=key %}" class="cat-cont">
                                <div class="category">
                                    <img src="{{BASE_IMG_URL}}{{cat.image}}{{img_optimize_param}}" />
                                </div>
                                <div class="text-center mt-3 mb-3 cat-title">{{cat.category_val | title}}</div>
                            </a>
                            {% endif %}
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div> -->

            <hr class="line-break">

            <!-- Recently viewed -->
            <div class="discover-div">
                <div>
                    <a href="{% url 'blog' %}" class="desktop-navlinks">
                        <h6>Recently Viewed</h6>
                    </a>
                    <h4>Grab these before they sell</h4>
                </div>
                <div class="card-deck discover-inner-div w-100">

                    <div class="card">
                        <div class="recent-price-tag">$399</div>
                        <img class="card-img-recent recent-view" src="{% static 'img/4.jpg' %}" alt="Card image cap">
                        <!-- <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div> -->
                    </div>
                    <div class="card">
                        <div class="recent-price-tag">$399</div>
                        <img class="card-img-recent recent-view" src="{% static 'img/5.jpg' %}" alt="Card image cap">
                        <!-- <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div> -->
                    </div>
                    <div class="card">
                        <div class="recent-price-tag">$399</div>
                        <img class="card-img-recent recent-view" src="{% static 'img/6.jpg' %}" alt="Card image cap">
                        <!-- <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div> -->
                    </div>
                    <div class="card">
                        <div class="recent-price-tag">$399</div>
                        <img class="card-img-recent recent-view" src="{% static 'img/7.jpg' %}" alt="Card image cap">
                        <!-- <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div> -->
                    </div>
                    <div class="card">
                        <div class="recent-price-tag">$399</div>
                        <img class="card-img-recent recent-view" src="{% static 'img/8.jpg' %}" alt="Card image cap">
                        <!-- <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              </div> -->
                    </div>

                </div>
            </div>

        </div>
    </div>

    <hr class="line-break end">
    <!-- Bidgala Art Digest -->
    <!-- <div class="art-digest d-flex align-items-center justify-content-center mt-3"> -->
   
    {% include 'newsletter/newsletter.html' %}

    </div>

    <hr class="line-break end">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/index.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/LICENSE"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/package.json"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/README.md"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/combine/npm/js-cookie@3.0.1/index.min.js,npm/js-cookie@3.0.1"></script>


</main>
<script>
product_ids = []
product_ids.push(JSON.parse(Cookies.get("recently_viewed")))

$(document).ready(function () {
        $.ajax({
        type:'POST',
        url:'{% url "recentlyviewed" %}',
        data:
        {
            'productIDArray[]': product_ids,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
        },
        success:function(data){
            alert(JSON.parse(data))
        }, 
        error:function(){
            
        }
        })
});
</script>

{% endblock %}